/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Achtung;
	border-spacing-y: 0;
	border-spacing-x: 0;
	border-collapse: collapse;
	max-id: 3;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #004488;
	margin-top: 12px;
	margin-bottom: 12px;
	page-break-inside: avoid;
	column-break-inside: avoid;
	frame-break-inside: avoid;
}

mcTableColumnStyle
{
	span: 1;
	name: Symbol;
	id: 0;
	size: 20mm;
	text-align: center;
	vertical-align: top;
}

mcTableColumnStyle
{
	span: 1;
	id: 3;
	name: Text;
	text-align: left;
	vertical-align: middle;
}

mcTableHeadStyle
{
	span: 1;
	id: 2;
	name: Header1;
	text-align: left;
	vertical-align: middle;
	cell-content-style-tag: p;
	cell-content-style-class: s_signalword;
	background-color: #004488;
}

mcTableBodyStyle
{
	span: 1;
	name: Body1;
	id: 1;
	cell-padding-bottom: 3px;
}


/* Cell Styles: */
 
.TableStyle-Achtung
{
	border-collapse: collapse;
	border-bottom-style: solid;
	border-bottom-color: #004488;
	border-bottom-width: 2px;
	margin-top: 12px;
	margin-bottom: 12px;
	page-break-inside: avoid;
	column-break-inside: avoid;
	frame-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-Achtung-Column-Symbol
{
	width: 20mm;
}

.TableStyle-Achtung-Column-Text
{
	
}

.TableStyle-Achtung-Head-Header1
{
	
}

.TableStyle-Achtung-HeadI-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #004488;
}

.TableStyle-Achtung-HeadI-Symbol-Header1 p
{
	
}

.TableStyle-Achtung-HeadE-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #004488;
}

.TableStyle-Achtung-HeadE-Symbol-Header1 p
{
	
}

.TableStyle-Achtung-HeadF-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #004488;
}

.TableStyle-Achtung-HeadF-Symbol-Header1 p
{
	
}

.TableStyle-Achtung-HeadH-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #004488;
}

.TableStyle-Achtung-HeadH-Symbol-Header1 p
{
	
}

.TableStyle-Achtung-HeadD-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #004488;
}

.TableStyle-Achtung-HeadD-Symbol-Header1 p
{
	
}

.TableStyle-Achtung-HeadC-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #004488;
}

.TableStyle-Achtung-HeadC-Symbol-Header1 p
{
	
}

.TableStyle-Achtung-HeadB-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #004488;
}

.TableStyle-Achtung-HeadB-Symbol-Header1 p
{
	
}

.TableStyle-Achtung-HeadA-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #004488;
}

.TableStyle-Achtung-HeadA-Symbol-Header1 p
{
	
}

.TableStyle-Achtung-HeadG-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #004488;
}

.TableStyle-Achtung-HeadG-Symbol-Header1 p
{
	
}

.TableStyle-Achtung-HeadI-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #004488;
}

.TableStyle-Achtung-HeadI-Text-Header1 p
{
	
}

.TableStyle-Achtung-HeadE-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #004488;
}

.TableStyle-Achtung-HeadE-Text-Header1 p
{
	
}

.TableStyle-Achtung-HeadF-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #004488;
}

.TableStyle-Achtung-HeadF-Text-Header1 p
{
	
}

.TableStyle-Achtung-HeadH-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #004488;
}

.TableStyle-Achtung-HeadH-Text-Header1 p
{
	
}

.TableStyle-Achtung-HeadD-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #004488;
}

.TableStyle-Achtung-HeadD-Text-Header1 p
{
	
}

.TableStyle-Achtung-HeadC-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #004488;
}

.TableStyle-Achtung-HeadC-Text-Header1 p
{
	
}

.TableStyle-Achtung-HeadB-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #004488;
}

.TableStyle-Achtung-HeadB-Text-Header1 p
{
	
}

.TableStyle-Achtung-HeadA-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #004488;
}

.TableStyle-Achtung-HeadA-Text-Header1 p
{
	
}

.TableStyle-Achtung-HeadG-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #004488;
}

.TableStyle-Achtung-HeadG-Text-Header1 p
{
	
}

.TableStyle-Achtung-FootI-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Achtung-FootI-Symbol- p
{
	
}

.TableStyle-Achtung-FootE-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Achtung-FootE-Symbol- p
{
	
}

.TableStyle-Achtung-FootF-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Achtung-FootF-Symbol- p
{
	
}

.TableStyle-Achtung-FootH-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Achtung-FootH-Symbol- p
{
	
}

.TableStyle-Achtung-FootD-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Achtung-FootD-Symbol- p
{
	
}

.TableStyle-Achtung-FootC-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Achtung-FootC-Symbol- p
{
	
}

.TableStyle-Achtung-FootB-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Achtung-FootB-Symbol- p
{
	
}

.TableStyle-Achtung-FootA-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Achtung-FootA-Symbol- p
{
	
}

.TableStyle-Achtung-FootG-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Achtung-FootG-Symbol- p
{
	
}

.TableStyle-Achtung-FootI-Text-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Achtung-FootI-Text- p
{
	
}

.TableStyle-Achtung-FootE-Text-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Achtung-FootE-Text- p
{
	
}

.TableStyle-Achtung-FootF-Text-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Achtung-FootF-Text- p
{
	
}

.TableStyle-Achtung-FootH-Text-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Achtung-FootH-Text- p
{
	
}

.TableStyle-Achtung-FootD-Text-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Achtung-FootD-Text- p
{
	
}

.TableStyle-Achtung-FootC-Text-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Achtung-FootC-Text- p
{
	
}

.TableStyle-Achtung-FootB-Text-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Achtung-FootB-Text- p
{
	
}

.TableStyle-Achtung-FootA-Text-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Achtung-FootA-Text- p
{
	
}

.TableStyle-Achtung-FootG-Text-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Achtung-FootG-Text- p
{
	
}

.TableStyle-Achtung-Body-Body1
{
	
}

.TableStyle-Achtung-BodyI-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Achtung-BodyI-Symbol-Body1 p
{
	
}

.TableStyle-Achtung-BodyE-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Achtung-BodyE-Symbol-Body1 p
{
	
}

.TableStyle-Achtung-BodyF-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Achtung-BodyF-Symbol-Body1 p
{
	
}

.TableStyle-Achtung-BodyH-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Achtung-BodyH-Symbol-Body1 p
{
	
}

.TableStyle-Achtung-BodyD-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Achtung-BodyD-Symbol-Body1 p
{
	
}

.TableStyle-Achtung-BodyC-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Achtung-BodyC-Symbol-Body1 p
{
	
}

.TableStyle-Achtung-BodyB-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Achtung-BodyB-Symbol-Body1 p
{
	
}

.TableStyle-Achtung-BodyA-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Achtung-BodyA-Symbol-Body1 p
{
	
}

.TableStyle-Achtung-BodyG-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Achtung-BodyG-Symbol-Body1 p
{
	
}

.TableStyle-Achtung-BodyI-Text-Body1
{
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Achtung-BodyI-Text-Body1 p
{
	
}

.TableStyle-Achtung-BodyE-Text-Body1
{
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Achtung-BodyE-Text-Body1 p
{
	
}

.TableStyle-Achtung-BodyF-Text-Body1
{
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Achtung-BodyF-Text-Body1 p
{
	
}

.TableStyle-Achtung-BodyH-Text-Body1
{
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Achtung-BodyH-Text-Body1 p
{
	
}

.TableStyle-Achtung-BodyD-Text-Body1
{
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Achtung-BodyD-Text-Body1 p
{
	
}

.TableStyle-Achtung-BodyC-Text-Body1
{
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Achtung-BodyC-Text-Body1 p
{
	
}

.TableStyle-Achtung-BodyB-Text-Body1
{
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Achtung-BodyB-Text-Body1 p
{
	
}

.TableStyle-Achtung-BodyA-Text-Body1
{
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Achtung-BodyA-Text-Body1 p
{
	
}

.TableStyle-Achtung-BodyG-Text-Body1
{
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Achtung-BodyG-Text-Body1 p
{
	
}


