/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Gefahr;
	border-spacing-y: 0;
	border-spacing-x: 0;
	border-collapse: collapse;
	max-id: 3;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #ff0000;
	margin-top: 16px;
	margin-bottom: 24px;
	frame-break-inside: avoid;
	page-break-inside: avoid;
	column-break-inside: avoid;
}

mcTableColumnStyle
{
	span: 1;
	name: Symbol;
	id: 0;
	size: 20mm;
	text-align: center;
	vertical-align: top;
}

mcTableColumnStyle
{
	span: 1;
	id: 3;
	name: Text;
}

mcTableHeadStyle
{
	span: 1;
	id: 2;
	name: Header1;
	background-color: #bd2024;
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	cell-content-style-tag: p;
	cell-content-style-class: s_signalword;
}

mcTableBodyStyle
{
	span: 1;
	name: Body1;
	id: 1;
	cell-padding-bottom: 3px;
}


/* Cell Styles: */
 
.TableStyle-Gefahr
{
	border-collapse: collapse;
	border-bottom-style: solid;
	border-bottom-color: #ff0000;
	border-bottom-width: 2px;
	margin-top: 16px;
	margin-bottom: 24px;
	page-break-inside: avoid;
	column-break-inside: avoid;
	frame-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-Gefahr-Column-Symbol
{
	width: 20mm;
}

.TableStyle-Gefahr-Column-Text
{
	
}

.TableStyle-Gefahr-Head-Header1
{
	
}

.TableStyle-Gefahr-HeadI-Symbol-Header1
{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #bd2024;
}

.TableStyle-Gefahr-HeadI-Symbol-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Gefahr-HeadE-Symbol-Header1
{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #bd2024;
}

.TableStyle-Gefahr-HeadE-Symbol-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Gefahr-HeadF-Symbol-Header1
{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #bd2024;
}

.TableStyle-Gefahr-HeadF-Symbol-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Gefahr-HeadH-Symbol-Header1
{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #bd2024;
}

.TableStyle-Gefahr-HeadH-Symbol-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Gefahr-HeadD-Symbol-Header1
{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #bd2024;
}

.TableStyle-Gefahr-HeadD-Symbol-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Gefahr-HeadC-Symbol-Header1
{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #bd2024;
}

.TableStyle-Gefahr-HeadC-Symbol-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Gefahr-HeadB-Symbol-Header1
{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #bd2024;
}

.TableStyle-Gefahr-HeadB-Symbol-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Gefahr-HeadA-Symbol-Header1
{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #bd2024;
}

.TableStyle-Gefahr-HeadA-Symbol-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Gefahr-HeadG-Symbol-Header1
{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #bd2024;
}

.TableStyle-Gefahr-HeadG-Symbol-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Gefahr-HeadI-Text-Header1
{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #bd2024;
}

.TableStyle-Gefahr-HeadI-Text-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Gefahr-HeadE-Text-Header1
{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #bd2024;
}

.TableStyle-Gefahr-HeadE-Text-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Gefahr-HeadF-Text-Header1
{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #bd2024;
}

.TableStyle-Gefahr-HeadF-Text-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Gefahr-HeadH-Text-Header1
{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #bd2024;
}

.TableStyle-Gefahr-HeadH-Text-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Gefahr-HeadD-Text-Header1
{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #bd2024;
}

.TableStyle-Gefahr-HeadD-Text-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Gefahr-HeadC-Text-Header1
{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #bd2024;
}

.TableStyle-Gefahr-HeadC-Text-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Gefahr-HeadB-Text-Header1
{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #bd2024;
}

.TableStyle-Gefahr-HeadB-Text-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Gefahr-HeadA-Text-Header1
{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #bd2024;
}

.TableStyle-Gefahr-HeadA-Text-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Gefahr-HeadG-Text-Header1
{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #bd2024;
}

.TableStyle-Gefahr-HeadG-Text-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Gefahr-FootI-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Gefahr-FootI-Symbol- p
{
	
}

.TableStyle-Gefahr-FootE-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Gefahr-FootE-Symbol- p
{
	
}

.TableStyle-Gefahr-FootF-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Gefahr-FootF-Symbol- p
{
	
}

.TableStyle-Gefahr-FootH-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Gefahr-FootH-Symbol- p
{
	
}

.TableStyle-Gefahr-FootD-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Gefahr-FootD-Symbol- p
{
	
}

.TableStyle-Gefahr-FootC-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Gefahr-FootC-Symbol- p
{
	
}

.TableStyle-Gefahr-FootB-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Gefahr-FootB-Symbol- p
{
	
}

.TableStyle-Gefahr-FootA-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Gefahr-FootA-Symbol- p
{
	
}

.TableStyle-Gefahr-FootG-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Gefahr-FootG-Symbol- p
{
	
}

.TableStyle-Gefahr-FootI-Text-
{
	
}

.TableStyle-Gefahr-FootI-Text- p
{
	
}

.TableStyle-Gefahr-FootE-Text-
{
	
}

.TableStyle-Gefahr-FootE-Text- p
{
	
}

.TableStyle-Gefahr-FootF-Text-
{
	
}

.TableStyle-Gefahr-FootF-Text- p
{
	
}

.TableStyle-Gefahr-FootH-Text-
{
	
}

.TableStyle-Gefahr-FootH-Text- p
{
	
}

.TableStyle-Gefahr-FootD-Text-
{
	
}

.TableStyle-Gefahr-FootD-Text- p
{
	
}

.TableStyle-Gefahr-FootC-Text-
{
	
}

.TableStyle-Gefahr-FootC-Text- p
{
	
}

.TableStyle-Gefahr-FootB-Text-
{
	
}

.TableStyle-Gefahr-FootB-Text- p
{
	
}

.TableStyle-Gefahr-FootA-Text-
{
	
}

.TableStyle-Gefahr-FootA-Text- p
{
	
}

.TableStyle-Gefahr-FootG-Text-
{
	
}

.TableStyle-Gefahr-FootG-Text- p
{
	
}

.TableStyle-Gefahr-Body-Body1
{
	
}

.TableStyle-Gefahr-BodyI-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Gefahr-BodyI-Symbol-Body1 p
{
	
}

.TableStyle-Gefahr-BodyE-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Gefahr-BodyE-Symbol-Body1 p
{
	
}

.TableStyle-Gefahr-BodyF-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Gefahr-BodyF-Symbol-Body1 p
{
	
}

.TableStyle-Gefahr-BodyH-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Gefahr-BodyH-Symbol-Body1 p
{
	
}

.TableStyle-Gefahr-BodyD-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Gefahr-BodyD-Symbol-Body1 p
{
	
}

.TableStyle-Gefahr-BodyC-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Gefahr-BodyC-Symbol-Body1 p
{
	
}

.TableStyle-Gefahr-BodyB-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Gefahr-BodyB-Symbol-Body1 p
{
	
}

.TableStyle-Gefahr-BodyA-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Gefahr-BodyA-Symbol-Body1 p
{
	
}

.TableStyle-Gefahr-BodyG-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Gefahr-BodyG-Symbol-Body1 p
{
	
}

.TableStyle-Gefahr-BodyI-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Gefahr-BodyI-Text-Body1 p
{
	
}

.TableStyle-Gefahr-BodyE-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Gefahr-BodyE-Text-Body1 p
{
	
}

.TableStyle-Gefahr-BodyF-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Gefahr-BodyF-Text-Body1 p
{
	
}

.TableStyle-Gefahr-BodyH-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Gefahr-BodyH-Text-Body1 p
{
	
}

.TableStyle-Gefahr-BodyD-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Gefahr-BodyD-Text-Body1 p
{
	
}

.TableStyle-Gefahr-BodyC-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Gefahr-BodyC-Text-Body1 p
{
	
}

.TableStyle-Gefahr-BodyB-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Gefahr-BodyB-Text-Body1 p
{
	
}

.TableStyle-Gefahr-BodyA-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Gefahr-BodyA-Text-Body1 p
{
	
}

.TableStyle-Gefahr-BodyG-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Gefahr-BodyG-Text-Body1 p
{
	
}


