/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Sicherheitshinweis;
	border-spacing-y: 0;
	border-spacing-x: 0;
	border-collapse: collapse;
	max-id: 3;
	margin-top: 16px;
	margin-bottom: 24px;
	frame-break-inside: avoid;
	page-break-inside: avoid;
	column-break-inside: avoid;
}

mcTableColumnStyle
{
	span: 1;
	id: 3;
	name: Text;
}

mcTableHeadStyle
{
	span: 1;
	id: 2;
	name: Header1;
	text-align: left;
	vertical-align: middle;
	cell-content-style-class: s_signalword;
}

mcTableBodyStyle
{
	span: 1;
	name: Body1;
	id: 1;
}


/* Cell Styles: */
 
.TableStyle-Sicherheitshinweis
{
	border-collapse: collapse;
	margin-top: 16px;
	margin-bottom: 24px;
	page-break-inside: avoid;
	column-break-inside: avoid;
	frame-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-Sicherheitshinweis-Column-Text
{
	
}

.TableStyle-Sicherheitshinweis-Head-Header1
{
	
}

.TableStyle-Sicherheitshinweis-HeadI-Text-Header1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Sicherheitshinweis-HeadI-Text-Header1 p
{
	
}

.TableStyle-Sicherheitshinweis-HeadE-Text-Header1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Sicherheitshinweis-HeadE-Text-Header1 p
{
	
}

.TableStyle-Sicherheitshinweis-HeadF-Text-Header1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Sicherheitshinweis-HeadF-Text-Header1 p
{
	
}

.TableStyle-Sicherheitshinweis-HeadH-Text-Header1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Sicherheitshinweis-HeadH-Text-Header1 p
{
	
}

.TableStyle-Sicherheitshinweis-HeadD-Text-Header1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Sicherheitshinweis-HeadD-Text-Header1 p
{
	
}

.TableStyle-Sicherheitshinweis-HeadC-Text-Header1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Sicherheitshinweis-HeadC-Text-Header1 p
{
	
}

.TableStyle-Sicherheitshinweis-HeadB-Text-Header1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Sicherheitshinweis-HeadB-Text-Header1 p
{
	
}

.TableStyle-Sicherheitshinweis-HeadA-Text-Header1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Sicherheitshinweis-HeadA-Text-Header1 p
{
	
}

.TableStyle-Sicherheitshinweis-HeadG-Text-Header1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Sicherheitshinweis-HeadG-Text-Header1 p
{
	
}

.TableStyle-Sicherheitshinweis-FootI-Text-
{
	
}

.TableStyle-Sicherheitshinweis-FootI-Text- p
{
	
}

.TableStyle-Sicherheitshinweis-FootE-Text-
{
	
}

.TableStyle-Sicherheitshinweis-FootE-Text- p
{
	
}

.TableStyle-Sicherheitshinweis-FootF-Text-
{
	
}

.TableStyle-Sicherheitshinweis-FootF-Text- p
{
	
}

.TableStyle-Sicherheitshinweis-FootH-Text-
{
	
}

.TableStyle-Sicherheitshinweis-FootH-Text- p
{
	
}

.TableStyle-Sicherheitshinweis-FootD-Text-
{
	
}

.TableStyle-Sicherheitshinweis-FootD-Text- p
{
	
}

.TableStyle-Sicherheitshinweis-FootC-Text-
{
	
}

.TableStyle-Sicherheitshinweis-FootC-Text- p
{
	
}

.TableStyle-Sicherheitshinweis-FootB-Text-
{
	
}

.TableStyle-Sicherheitshinweis-FootB-Text- p
{
	
}

.TableStyle-Sicherheitshinweis-FootA-Text-
{
	
}

.TableStyle-Sicherheitshinweis-FootA-Text- p
{
	
}

.TableStyle-Sicherheitshinweis-FootG-Text-
{
	
}

.TableStyle-Sicherheitshinweis-FootG-Text- p
{
	
}

.TableStyle-Sicherheitshinweis-Body-Body1
{
	
}

.TableStyle-Sicherheitshinweis-BodyI-Text-Body1
{
	
}

.TableStyle-Sicherheitshinweis-BodyI-Text-Body1 p
{
	
}

.TableStyle-Sicherheitshinweis-BodyE-Text-Body1
{
	
}

.TableStyle-Sicherheitshinweis-BodyE-Text-Body1 p
{
	
}

.TableStyle-Sicherheitshinweis-BodyF-Text-Body1
{
	
}

.TableStyle-Sicherheitshinweis-BodyF-Text-Body1 p
{
	
}

.TableStyle-Sicherheitshinweis-BodyH-Text-Body1
{
	
}

.TableStyle-Sicherheitshinweis-BodyH-Text-Body1 p
{
	
}

.TableStyle-Sicherheitshinweis-BodyD-Text-Body1
{
	
}

.TableStyle-Sicherheitshinweis-BodyD-Text-Body1 p
{
	
}

.TableStyle-Sicherheitshinweis-BodyC-Text-Body1
{
	
}

.TableStyle-Sicherheitshinweis-BodyC-Text-Body1 p
{
	
}

.TableStyle-Sicherheitshinweis-BodyB-Text-Body1
{
	
}

.TableStyle-Sicherheitshinweis-BodyB-Text-Body1 p
{
	
}

.TableStyle-Sicherheitshinweis-BodyA-Text-Body1
{
	
}

.TableStyle-Sicherheitshinweis-BodyA-Text-Body1 p
{
	
}

.TableStyle-Sicherheitshinweis-BodyG-Text-Body1
{
	
}

.TableStyle-Sicherheitshinweis-BodyG-Text-Body1 p
{
	
}


